.contactInformation {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.contactUl,
ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
}

.contactUl li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid;
  padding: 5px;
  color: #f3edc9;
}

.contactUl li span:hover {
  color: grey;
}
.contactUl li span:active {
  color: green;
}

.contactUl a {
  color: #f3edc9;
  text-decoration: none;
}
